<div class="paenl-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="founders">About Me The Founder: Charles Barkley</h1>
        </div>
        <div class="panel-body">
            <img src="../../assets/bark.jpg" alt="Barkley">
            <p>I am The Man, The Myth, The Legend. After the 1992 Dream Team kicked the asses of the rest of the world I decided to kick its ass again, but with money.</p>

            <p>Hence was born <strong>Give Me Your Money</strong>! Where you give me money, and I spend it on baller shit that rules. Sometimes I spend it on lunch, but it is always really good lunch. Usually though I spend it on dinosaur related scientic
                research. Soon Jurassic Park will be as real as my 5 NBA titles, which are also made up.</p>

            <p>So pass the money bag to me for a sweet layup!</p>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="founders">About Me The other Founder: Elon Musk</h1>
        </div>
        <div class="panel-body">
            <img src="../../assets/musk.jpg" alt="Musk">
            <p>
                I am the One and Only. The Alpha and the Omega. The Elon and The Musk. Do I need to say anymore? I do? Then
                <strong> Give Me Your Money!</strong> You may get a nice car <span class="keychain">(keychain)</span>.
            </p>
        </div>

    </div>


</div>