<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">Jurassic Sea World</h1>
    </div>
    <div class="panel-body">
        <img src="../../assets/otherpark.jpg" alt="OtherPark">
        <p><span class="description">Description:</span> This project is in need of your money. We want to build special parks all over the world! What's so special about these parks you say? These parks are similar to Jurassic Park, but with Sea Creatures.
            The Jurassic Sea World welcomes all sorts of payments! (No Refunds or become fish bait).</p>
        <p><span class="description">Amount Needed:</span> $500,000,000</p>
        <button routerLink="pay">Give Them Money!</button>
    </div>

</div>