<div class="featured">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="title">Jurassic Park</h1>
            </div>
            <div class="panel-body">
                <img src="../../assets/jurassic.jpg" alt="Jurrasic">
                <p><span class="description">Description:</span> This project is in dire need of help. After tries 1-4 ended in an enourmous bodycount funding has suspicously dried up. IT'S A NEOLIBERAL CONSPIRACY!</p>

                <p>Now is the time to shine! We can bring the most deadly/awesoome beasts in earths history back to life, so grab your checkbooks!</p>

                <p><span class="description">Amount Needed:</span> $10,000 <span id="small">million</span></p>
                <button routerLink="pay">Give Them Money!</button>
            </div>
        </div>

    </div>

</div>