<div class="home">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatibus saepe cupiditate minus optio. Modi molestias quisquam alias, maxime illum doloribus asperiores sunt adipisci ipsa itaque earum possimus doloremque similique?Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Est officiis dignissimos, nemo mollitia odit dolorem voluptates, impedit corrupti, esse qui vel saepe delectus enim ipsa magni quam iure possimus excepturi!Lorem
    </p>

</div>